WA.WcfClient/Connected Services/WcfServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WA.Common.WeatherGrabber" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WA.Common.WeatherGrabber" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4856/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:4856/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="WeatherInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DetailedWeather" nillable="true" type="tns:DetailedWeather" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherInfo" nillable="true" type="tns:WeatherInfo" />
  <xs:complexType name="DetailedWeather">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WeatherByHours" nillable="true" type="q1:ArrayOfKeyValueOfdurationHourDetails2KVC9pno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailedWeather" nillable="true" type="tns:DetailedWeather" />
  <xs:complexType name="HourDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Humidity" type="xs:double" />
      <xs:element minOccurs="0" name="IconSvg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" type="xs:double" />
      <xs:element minOccurs="0" name="Time" type="ser:duration" />
      <xs:element minOccurs="0" name="WindText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HourDetails" nillable="true" type="tns:HourDetails" />
</xs:schema>