WA.WcfClient/Connected Services/WcfServiceReference/WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4856/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4856/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4856/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:4856/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WA.Common.WeatherGrabber" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfService_GetAvailableCitiesForTomorrow_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableCitiesForTomorrow" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetAvailableCitiesForTomorrow_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableCitiesForTomorrowResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetWeatherInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherInfo" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GetWeatherInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfService">
    <wsdl:operation name="GetAvailableCitiesForTomorrow">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/GetAvailableCitiesForTomorrow" message="tns:IWcfService_GetAvailableCitiesForTomorrow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/GetAvailableCitiesForTomorrowResponse" message="tns:IWcfService_GetAvailableCitiesForTomorrow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeatherInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/GetWeatherInfo" message="tns:IWcfService_GetWeatherInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/GetWeatherInfoResponse" message="tns:IWcfService_GetWeatherInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfService" type="tns:IWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableCitiesForTomorrow">
      <soap:operation soapAction="http://tempuri.org/IWcfService/GetAvailableCitiesForTomorrow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeatherInfo">
      <soap:operation soapAction="http://tempuri.org/IWcfService/GetWeatherInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfService">
    <wsdl:port name="BasicHttpBinding_IWcfService" binding="tns:BasicHttpBinding_IWcfService">
      <soap:address location="http://localhost:4856/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>